<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock%}</title>
    <style>
body {
    display: flex;
    flex-direction: column;
    font-family: Ubuntu;
}
header {
    flex: 0 0 50px;
}
footer {
    flex: 0 0 50px;
    text-align: center;
}
.content {
    display: flex;
    flex: 1;
}
main {
    flex: 1;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
}
.leftnav {
    flex: 0 0 5em;
    order: -1;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 0.2rem;
    {#background-color: lightgray;#}

}
    </style>
    {% block customhead %}{% endblock %}
</head>
<body>
    <header class="uppernav">{% block uppernav %}{% endblock %}</header>
    <div class="content">
        <main>{% block content %}{% endblock %}</main>
    </div>
    <footer>{% block footer %}&copy; {{ author }}<br> <a href="https://www.instagram.com/p3rryfml/">ig: @p3rryfml</a>{% endblock %}</footer>
    {% block bodyend %}{% endblock %}
</body>
