{% extends "base.html.j2" %}
{% block content %}
    <h1>Babičky</h1>
    <img src="img/icon.png" width="300">
    <h3>Praha očima babiček</h3>

    {% for ep in eps %}
        <p>{{ep.title}}</p>
    {% endfor %}

    <h3>Poslouchejte na</h3>
    <p><a href="https://open.spotify.com/show/062l3iixGVOyMvgSO6sUu2"><img src="img/spotify.svg" width="20"></a></p>
{% endblock %}
